@{
// ViewBag.Title = "Index";
    ViewBag.Title = "Home";
}
<div class="widget style1 navy-bg">
    <div class="row">
        <div class="col-xs-4">
            <i class="fa fa-cloud fa-5x"></i>
        </div>
        <div class="col-xs-8 text-left">
            <span>  </span>
            <h2 class="font-bold">CU Schedule </h2>
        </div>
    </div>
</div>
<br>
<div class="col-lg-3">
    <a href="@Url.Action("Index", "Import")">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Import 
                </h2>
                <small></small>
            </div>
            <i class="fa fa-th-large fa-5x"></i>
            @*<img src="~/Images/mem02.jpg" class="img-circle circle-border m-b-md" alt="profile">*@
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        @*<div class="widget-text-box">
                <h4 class="media-heading"> Import Data</h4>
                <p></p>
                <div class="text-right">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                </div>
            </div>*@
    </a>
</div>


<div class="col-lg-3">
    <a href="@Url.Action("Index", "Schedule")">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Shedule
                </h2>
                <small></small>
            </div>
        
            <i class="fa fa-calendar fa-5x"></i> 

           
            @*<img src="~/Images/mem01.jpg" class="img-circle circle-border m-b-md" alt="profile">*@
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        @*<div class="widget-text-box">
                <h4 class="media-heading"> Shedule</h4>
                <p></p>
                <div class="text-right">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                </div>
            </div>*@
    </a>
</div>




<div class="col-lg-3">
    <a href="@Url.Action("Index", "RoomEfficiency")">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Room Efficiency
                </h2>

            </div>
          
            <i class="fa fa-bar-chart fa-5x"></i> 

           
            @*<img src="~/Images/mem03.jpg" class="img-circle circle-border m-b-md" alt="profile">*@
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        @*<div class="widget-text-box">
                <h4 class="media-heading"> Room Efficiency</h4>
                <p></p>
                <div class="text-right">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                </div>
            </div>*@
    </a>
</div>



<div class="col-lg-3">
    <a href="@Url.Action("Index", "Member")">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Member
                </h2>
                <small></small>
            </div>
          
            <i class="fa fa-child fa-5x"></i>

           
            @*<img src="~/Images/mem05.jpg" class="img-circle circle-border m-b-md" alt="profile">*@
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        @*<div class="widget-text-box">
                <h4 class="media-heading">Member</h4>
                <p>Software Engineering Chulalongkorn University</p>
                <div class="text-right">
                    <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                    <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
                </div>
            </div>*@
    </a>
</div>
