

@{
    ViewBag.Title = "Member";
}
<div class="widget style1 navy-bg">
    <div class="row">
        <div class="col-xs-4">
            <i class="fa fa-cloud fa-5x"></i>
        </div>
        <div class="col-xs-8 text-left">
            <span> Team Karaoke </span>
            <h2 class="font-bold">Member</h2>
        </div>
    </div>
</div>


<br>
@{
   // @Model.name
   // @Model.surname
    // @Model.testList
 
}

    <div class="col-lg-3">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Artinat Wattanaburanon
                </h2>
                <small>Founder of Karaoke Group</small>
            </div>

            <img src="~/Images/mem02.jpg" class="img-circle circle-border m-b-md" alt="profile">
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading"> Artinat Wattanaburanon (Tee)</h4>
            <p>Software Engineering Chulalongkorn University</p>
            <div class="text-right">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Piyaphan  <br>Pongpradit
                </h2>
                <small>Co-Founder of Karaoke Group</small>
            </div>
            <img src="~/Images/mem01.jpg" class="img-circle circle-border m-b-md" alt="profile">
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">  Piyaphan Pongpradit (Ton)</h4>
            <p>Software Engineering Chulalongkorn University</p>
            <div class="text-right">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
            </div>
        </div>
    </div>




    <div class="col-lg-3">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Sakkachin Wongcharoen
                </h2>
                <small>Co-Founder of Karaoke Group</small>
            </div>

            <img src="~/Images/mem03.jpg" class="img-circle circle-border m-b-md" alt="profile">
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading"> Sakkachin Wongcharoen (Chin)</h4>
            <p>Software Engineering Chulalongkorn University</p>
            <div class="text-right">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Jaraspong Lertsiwaporn
                </h2>
                <small>Co-Founder of Karaoke Group</small>
            </div>

            <img src="~/Images/mem04.jpg" class="img-circle circle-border m-b-md" alt="profile">
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">Jaraspong Lertsiwaporn (Oop)</h4>
            <p>Software Engineering Chulalongkorn University</p>
            <div class="text-right">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    Jadesada Tsundere
                </h2>
                <small>Co-Founder of Karaoke Group</small>
            </div>

            <img src="~/Images/mem05.jpg" class="img-circle circle-border m-b-md" alt="profile">
            <div>
                <!--<span>Piyaphan  Pongpradit</span> |
                <span>5770949421</span>
                    -->
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">Jadesada Tsundere (Max)</h4>
            <p>Software Engineering Chulalongkorn University</p>
            <div class="text-right">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
            </div>
        </div>
    </div>
